/Day_3/nbproject/private/
/Day_3/build/
/Day_3_1/nbproject/private/
/Day_3_1/build/
/Day_4/nbproject/private/
/Day_4/build/
/Day_5/nbproject/private/
/Day_5/build/
/Day_5Gui/nbproject/private/
/Day_5_GUI/nbproject/private/
/Day_5_GUI/build/
/Day_6/nbproject/private/
/Day_6/build/
/TicTacToe/nbproject/private/
/TicTacToe/build/
/Day_9/nbproject/private/
/Day_9/build/
/Hangman/nbproject/private/
/Hangman/build/
/TODOList/nbproject/private/
/TODOList/build/